<ion-view view-title="Casino" class="background-casino" ng-controller="casinoCtrl">
<ion-header-bar class="bar-subheader item-input-inset no-padding-element" style="text-align: center;">
  <div class="row no-padding-element">
    <div class="col col-20 no-padding-element">
      <div class="list list-inset no-padding-element">
        <button class="button new-player-button" ng-click="openCasinoModal(13)"><i class="icon ion-wrench"></i></button>
      </div>
    </div>
    <div class="col no-padding-element">
      <div class="list list-inset no-padding-element">
        <input class="player_name_input" type="text" placeholder="Nós" ng-model="casinosheet.p1_name" style="{{setColorFromScore(1)}}">
      </div>
    </div>
    <div class="col no-padding-element" ng-model="casinosheet.p3_name_header_col" ng-show="casinosheet.showThirdPlayer">          
      <div class="list list-inset no-padding-element">
        <input class="player_name_input" type="text" placeholder="Jog. 3" ng-model="casinosheet.p3_name" style="{{setColorFromScore(3)}}">
      </div>
    </div>
    <div class="col no-padding-element" ng-model="casinosheet.p4_name_header_col" ng-show="casinosheet.showFourthPlayer">
      <div class="list list-inset no-padding-element">
        <input class="player_name_input" type="text" placeholder="Jog. 4" ng-model="casinosheet.p4_name" style="{{setColorFromScore(4)}}">
      </div>
    </div>
    <div class="col no-padding-element">
      <div class="list list-inset no-padding-element">
        <input class="player_name_input" type="text" placeholder="Eles" ng-model="casinosheet.p2_name" style="{{setColorFromScore(2)}}">
      </div>
    </div>
    <div class="col no-padding-element">
      <div class="list list-inset no-padding-element">
        <!--<input type="text" class="subheader_input" value="Totais" disabled>-->
        <button class="button new-player-button" ng-click="openCasinoModal(19)"><i class="icon ion-help"></i></button>
      </div>
    </div>
  </div>
  </ion-header-bar>


  <ion-content>
  	<div ng-controller="casinoCtrl">
      <div class="row" ng-repeat="item in casinosheet.gameList">
        <div class="col col-20 no-padding-element">
          <input type="text" class="regular_text_input" ng-model="item.text" disabled>
        </div>
        <div class="col no-padding-element">
          <input class="score_input_left" ng-model="item.p1_model" ng-change="updateGameRowTotal(item.number, 1)" type="number" ng-focus="deleteValueIfZero($event)" ng-blur="addZeroIfEmpty($event)">
        </div>
        <div class="col no-padding-element" ng-show="casinosheet.showThirdPlayer">
          <input class="score_input_middle" ng-model="item.p3_model" ng-change="updateGameRowTotal(item.number, 3)"  type="number" ng-focus="deleteValueIfZero($event)" ng-blur="addZeroIfEmpty($event)">
        </div>
        <div class="col no-padding-element" ng-show="casinosheet.showFourthPlayer">
          <input class="score_input_middle" ng-model="item.p4_model" ng-change="updateGameRowTotal(item.number, 4)" type="number" ng-focus="deleteValueIfZero($event)" ng-blur="addZeroIfEmpty($event)">
        </div>
        <div class="col no-padding-element">
          <input class="score_input_right" ng-model="item.p2_model" ng-change="updateGameRowTotal(item.number, 2)" type="number" ng-focus="deleteValueIfZero($event)" ng-blur="addZeroIfEmpty($event)">
        </div>
        <div class="col no-padding-element">
          <div class="list list-inset no-padding-element">
                <!--<input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="casinosheet.total_game_10" style="{{changeGameTotalColor(10)}}" disabled>-->
                <input class="score_input" type="number" ng-model="item.total_model" placeholder="0" style="{{changeGameTotalColor(item.number)}}" disabled>
          </div>
        </div>
      </div>
      <!-- Totais de cada jogador -->
      <div class="row">
        <div class="col col-20 no-padding-element">
          <input type="text" class="final_score_input" value="Total" disabled>
        </div>
        <div class="col no-padding-element">
          <input class="final_score_input" ng-model="casinosheet.p1_game_total" ng-bind="casinosheet.p1_game_total" ng-value="0" disabled>
        </div>
        <div class="col no-padding-element" ng-show="casinosheet.showThirdPlayer">
          <input class="final_score_input" ng-model="casinosheet.p3_game_total" ng-bind="casinosheet.p3_game_total" ng-value="0" disabled>
        </div>
        <div class="col no-padding-element" ng-show="casinosheet.showFourthPlayer">
          <input class="final_score_input" ng-model="casinosheet.p4_game_total" ng-bind="casinosheet.p4_game_total" ng-value="0" disabled>
        </div>
        <div class="col no-padding-element">
          <input class="final_score_input" ng-model="casinosheet.p2_game_total" ng-bind="casinosheet.p2_game_total" ng-value="0" disabled>
        </div>
        <div class="col no-padding-element">
          <!--<div class="list list-inset no-padding-element">
                <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="casinosheet.total_game_total" style="{{changeGameTotalColor(10)}}" disabled>
          </div>-->
        </div>
      </div>
      <!-- Linha -->
      <div class="row">
      <div class="col">
        <hr>
      </div>
      </div>
      <!-- Jogos que cada jogador venceu -->
      <div class="row">
        <div class="col col-20 no-padding-element">
          <input type="text" class="regular_text_input" value="Vitórias" disabled>
        </div>
        <div class="col no-padding-element">
          <div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
            <input class="score_input" ng-model="casinosheet.p1_game_victories" disabled>
          </div>
          </div>
        </div>
        <div class="col no-padding-element" ng-show="casinosheet.showThirdPlayer">
          <input class="score_input" ng-model="casinosheet.p3_game_victories" disabled>
        </div>
        <div class="col no-padding-element" ng-show="casinosheet.showFourthPlayer">
          <input class="score_input" ng-model="casinosheet.p4_game_victories" disabled>
        </div>
        <div class="col no-padding-element">
          <input class="score_input" ng-model="casinosheet.p2_game_victories" disabled>
        </div>
        <div class="col no-padding-element">
          <div class="list list-inset no-padding-element">
                <!--<input class="score_input" type="number"  placeholder="0" ng-model="casinosheet.games_total" disabled>-->
          </div>
        </div>
      </div>

      <!--<button class="button button-block button-balanced" ng-model="casinosheet.new_game_button" ng-click="addCasinoGame()">
        Jogo seguinte
      </button>-->
      <!--<div class="row">
      <div class="col no-padding-element">
        <button class="button button-block button-balanced" ng-model="casinosheet.reset_button" ng-click="addCasinoGame()">
        +1 partida
        </button>
      </div>
      </div>-->
      <div class="row">
      <!--<div class="col col-45 no-padding-element">
        <button class="button button-block button-stable" ng-model="casinosheet.reset_button" ng-click="createAdView();checkTotalForVictory() ? restartCasinoScores() : openCasinoModal(14);">
        Próx. Jogo
        </button>
      </div>-->
      <div class="col no-padding-element">
        <button class="button button-block button-balanced" ng-model="casinosheet.reset_button" ng-click="checkTotalForVictory();createInterstitialAdView();">
        Seguinte
        </button>
      </div>
      <div class="col col-10">
        &nbsp;
      </div>
      <div class="col col-45 no-padding-element">
        <button class="button button-block button-assertive" ng-model="casinosheet.reset_button" ng-click="openCasinoModal(15);">
        Recomeçar
        </button>
      </div>
      </div>
    </div>
    <!--<button class="button button-block button-stable" ng-click="goBackButton()">
        <i class="icon ion-arrow-return-left"></i>
    </button>-->
  </ion-content>
</ion-view>

