<ion-modal-view ng-controller="copasCtrl">
  <ion-header-bar>
    <h1 class="title">Configurações</h1>
  </ion-header-bar>
  <ion-content ng-controller="copasCtrl" style="color: #444;">
    <div class="row">
      <div class="col">
        <p class="centered_paragraph_black">Quantos jogadores?</p>
      </div>
    </div>
    <div class="row">
      <div class="col" ng-repeat="item in copassheet.playerNumbers">
          <ion-radio 
                   ng-value="item.value"
                   ng-model="copassheet.playerData.players"
                   ng-change="playerNumberChange(item)"
                   name="playerNumberList">
          {{ item.text }}
        </ion-radio>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Qual é o limite de pontos de uma partida?</p>
      </div>
      <div class="col">
        <label class="item item-input">
            <i class="icon ion-edit placeholder-icon" style="padding: 2px;"></i>
          <input class="settings_input" type="number" ng-model="copassheet.targetScore">

        </label>
      </div>
    </div>
        
       
  <!-- OK button -->
  <div class="row no-padding-element">
      <div class="col no-padding-element" style="padding: 5px;">
      <!-- Botão de Reset -->
      <button class="button button-block button-balanced" ng-model="kingsheet.reset_button" ng-click="closeCopasModal(27)">
        OK
      </button>
      </div>
  </div>

  </ion-content>
</ion-modal-view>