<ion-modal-view ng-controller="geralCtrl">
  <ion-header-bar>
    <h1 class="title">Como utilizar a Grelha</h1>
  </ion-header-bar>
  <ion-content ng-controller="geralCtrl" style="color: #444;">


  <!--<div class="list" style="text-wrap: nowr">

    <a class="item item-thumbnail-left" href="#">
      <img src="img/king_face.jpg">
      <h2>Como funciona a grelha?</h2>
      <p>Cada coluna equivale a um jogador. Cada linha equivale a cada um dos jogos. Uma partida é composta por vários jogos, e acaba quando um dos jogadores atingir o limite de pontos (que, por defeito, é 21).</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/king_face.jpg">
      <h2>Como é que eu coloco os pontos?</h2>
      <p>Pressione a célula correspondente ao jogador / jogo e utilize o teclado do seu dispositivo para indicar quantos pontos esse jogador fez.</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/king_face.jpg">
      <h2>Posso alterar os nomes dos jogadores?</h2>
      <p>Sim, é possível. Pressione o nome do jogador desejado e escreva o nome utilizando o teclado.</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/king_face.jpg">
      <h2>Posso alterar o limite de pontos de uma partida?</h2>
      <p>Pode sim. Pressione o botão com a chave inglesa. Na janela que surgir, à frente de "Limite de pontos de uma partida", escreva, com o seu teclado, o número de pontos desejado. Por defeito este valor é 21.</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/king_face.jpg">
      <h2>Que números são estes à direita?</h2>
      <p>Esse número é a soma dos pontos de todos os jogadores num jogo. No Geral, a soma dos pontos de um jogo tem de igualar 11 (ou mais) pontos.</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/king_face.jpg">
      <h2>Como </h2>
      <p>Cada coluna equivale a um jogador. Cada linha equivale a cada um dos jogos.</p>
    </a>

  </div>-->
  <div class="row">
    <div class="col">
      <p>Abaixo irá encontrar os tópicos de ajuda disponíveis. Para saír pressione o botão "Voltar".</p>
    </div>
  </div>

  <!-- Pergunta 1 -->
  <div class="list card">
    <div class="item item-avatar">
      <img src="img/king_face.jpg">
      <h2>Explicação geral</h2>
      <!--<p>Abaixo eé apresentada uma explicação da grelha do Geral.</p>-->
    </div>
    <div class="item item-body">
      <img class="full-image" src="img/geral_how_to_1.jpg">
      <p>
        Aqui as colunas correspondem aos jogadores, e cada linha corresponde a um jogo.<br><br>Nesta grelha, não há verificações automáticas (nem vitórias automáticas como acontece, por exemplo, nas Copas), sendo apenas uma grelha para fazer contas rápidas de pontos.<br><br>Esta grelha não foi criada para um tipo de jogo específico, por isso pode ser usada, em teoria, para qualquer jogo que envolva 2-5 jogadores ou equipas.
      </p>
    </div>
  </div>

  <!-- Pergunta 2 -->
  <div class="list card">
    <div class="item item-avatar">
      <img src="img/king_face.jpg">
      <h2>Colocar os pontos</h2>
      <!--<p>Pressione a célula do jogador / jogo correspondente.</p>-->
    </div>
    <div class="item item-body">
      <img class="full-image" src="img/geral_how_to_8.jpg">
      <p>
        Pressione a célula da grelha do jogador / jogo para o qual gostaria de inserir os pontos.<br><br>Utilizando o teclado do seu dispositivo, insira os pontos que esse jogador fez.
      </p>
    </div>
  </div>

  <!-- Pergunta 3 -->
  <div class="list card">
    <div class="item item-avatar">
      <img src="img/king_face.jpg">
      <h2>Alterar n.º de jogadores</h2>
      <!--<p>É sim. Veja abaixo como.</p>-->
    </div>
    <div class="item item-body">
      <img class="full-image" src="img/geral_how_to_3.jpg">
      <p>
        Para alterar a quantidade de jogadores, pressione o botão com o ícone da chave inglesa no canto superior esquerdo.<br><br>Na janela que surgir, escolha 2, 3, 4 ou 5 jogadores ou equipas, conforme o seu caso. Finalmente, pressione "OK".
      </p>
    </div>
  </div>

  <!-- Pergunta 5 -->
  <div class="list card">
    <div class="item item-avatar">
      <img src="img/king_face.jpg">
      <h2>Alterar nomes dos jogadores</h2>
      <!--<p>É sim. Veja abaixo como.</p>-->
    </div>
    <div class="item item-body">
      <img class="full-image" src="img/geral_how_to_2.jpg">
      <p>
        Para alterar o nome de um jogador, pressione-o escreva o novo nome desejado utilizando o teclado do seu dispositivo.
      </p>
    </div>
  </div>

  <!-- Pergunta 6 -->
  <div class="list card">
    <div class="item item-avatar">
      <img src="img/king_face.jpg">
      <h2>Próximo jogo</h2>
      <!--<p>Através do botão "Seguinte".</p>-->
    </div>
    <div class="item item-body">
      <img class="full-image" src="img/geral_how_to_5.jpg">
      <p>
        Pressione o botão "Seguinte", no canto inferior esquerdo.<br><br>Irá surgir uma nova linha, que corresponde a um novo jogo, e poderá inserir novamente os pontos para cada jogador.
      </p>
    </div>
  </div>

  <!-- Pergunta 7 -->
  <div class="list card">
    <div class="item item-avatar">
      <img src="img/king_face.jpg">
      <h2>Números à direita</h2>
      <!--<p>Serve para mostrar os pontos somados de cada jogador.</p>-->
    </div>
    <div class="item item-body">
      <img class="full-image" src="img/geral_how_to_7.jpg">
      <p>
        Pode ter reparado que, à direita de cada jogo existe um número a verde. Este serve para mostrar a soma dos pontos de todos os jogadores para um determinado jogo.
      </p>
    </div>
  </div>

  <!-- Pergunta 8 -->
  <div class="list card">
    <div class="item item-avatar">
      <img src="img/king_face.jpg">
      <h2>Colocar as vitórias</h2>
      <!--<p>As vitórias são calculadas automaticamente.</p>-->
    </div>
    <div class="item item-body">
      <img class="full-image" src="img/geral_how_to_9.jpg">
      <p>
        Pressione a célula da grelha do jogador / jogo para o qual gostaria de inserir os pontos.<br><br>Utilizando o teclado do seu dispositivo, insira os pontos que esse jogador fez.
      </p>
    </div>
  </div>

  <!-- Pergunta 9 -->
  <div class="list card">
    <div class="item item-avatar">
      <img src="img/king_face.jpg">
      <h2>Reiniciar tudo</h2>
      <!--<p>Através do botão "Recomeçar".</p>-->
    </div>
    <div class="item item-body">
      <img class="full-image" src="img/geral_how_to_6.jpg">
      <p>
        Pressione o botão "Recomeçar", que está no canto inferior direito.<br><br>Ao fazê-lo, irá surgir uma janela de confirmação - Caso aceitar recomeçar, todos os pontos (e também as vitórias!) são colocados a zero, e começamos a partir do primeiro jogo.
      </p>
    </div>
  </div>
       
  <!-- Cancel button -->
  <!--<div class="row no-padding-element">
      <div class="col no-padding-element" style="padding: 5px;">
        <button class="button button-block button-assertive" ng-model="geralsheet.go_back_button" ng-click="closeGeralModal(38)">
        Voltar
        </button>
      </div>
  </div>-->

  </ion-content>
  <ion-footer-bar>
        <button class="button button-block button-assertive" ng-model="geralsheet.go_back_button" ng-click="closeGeralModal(38)" style="margin-top: 0px">
        Voltar
        </button>
  </ion-footer-bar>
</ion-modal-view>