<ion-modal-view ng-controller="geralCtrl">
  <ion-header-bar>
    <h1 class="title">Escolha uma das seguintes opções:</h1>
  </ion-header-bar>
  <ion-content ng-controller="geralCtrl" style="color: #444;">
    <!--<div class="row">
      <div class="col">
        <p class="centered_paragraph_black">Quem venceu a partida?</p>
      </div>
    </div>-->
    <!--<div class="row">
      <div class="col" ng-repeat="item in geralsheet.playersMaxScore">
        <ion-radio name="winnerList" ng-model="geralsheet.winner_name_modal" ng-value="item" ng-change="pushSingleWinner('p' + item);">
        {{geralsheet['p' + item + '_name']}}
        </ion-radio>
      </div>
    </div>-->


    <!--<div class="row">
      <div class="col">
        <ion-radio name="winnerList" ng-model="geralsheet.winner_all" ng-change="pushAllWinners(TODO);">
        Todos os anteriores
        </ion-radio>
      </div>
    </div>-->

    <!--<div class="row">
      <div class="col">
        <ion-radio name="winnerList" ng-model="geralsheet.winner_name_modal" ng-value="1">
        {{geralsheet.p1_name}}
        </ion-radio>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-radio name="winnerList" ng-model="geralsheet.winner_name_modal" ng-value="2">
        {{geralsheet.p2_name}}
        </ion-radio>
      </div>
    </div>
    <div class="row">
      <div class="col" ng-show="geralsheet.showFourthPlayer">
        <ion-radio name="winnerList" ng-model="geralsheet.winner_name_modal" ng-value="4">
        {{geralsheet.p4_name}}
        </ion-radio>
      </div>
    </div>
    <div class="row">
      <div class="col" ng-show="geralsheet.showThirdPlayer">
        <ion-radio name="winnerList" ng-model="geralsheet.winner_name_modal" ng-value="3">
        {{geralsheet.p3_name}}
        </ion-radio>
      </div>
    </div>-->
  <div class="row no-padding-element">
      <div class="col no-padding-element" style="padding: 5px;">
      <!-- Voltar atrás -->
        <button class="button button-block" ng-model="geralsheet.how_to_button" ng-click="closeGeralModal(37);openGeralModal(38);">
        <i class="icon ion-compose"></i>&nbsp;&nbsp;Como usar esta grelha
        </button>
      </div>
  </div>
       
  <!-- Cancel button -->
  <div class="row no-padding-element">
      <div class="col no-padding-element" style="padding: 5px;">
      <!-- Voltar atrás -->
        <button class="button button-block button-assertive" ng-model="geralsheet.reset_button" ng-click="closeGeralModal(37)">
        Cancelar
        </button>
      </div>
  </div>

  </ion-content>
</ion-modal-view>