<ion-modal-view ng-controller="kingCtrl">
  <ion-header-bar>
    <h1 class="title">Como utilizar a Grelha</h1>
  </ion-header-bar>
  <ion-content ng-controller="kingCtrl" style="color: #444;">


  <!--<div class="list" style="text-wrap: nowr">

    <a class="item item-thumbnail-left" href="#">
      <img src="img/king_face.jpg">
      <h2>Como funciona a grelha?</h2>
      <p>Cada coluna equivale a um jogador. Cada linha equivale a cada um dos jogos. Uma partida é composta por vários jogos, e acaba quando um dos jogadores atingir o limite de pontos (que, por defeito, é 21).</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/king_face.jpg">
      <h2>Como é que eu coloco os pontos?</h2>
      <p>Pressione a célula correspondente ao jogador / jogo e utilize o teclado do seu dispositivo para indicar quantos pontos esse jogador fez.</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/king_face.jpg">
      <h2>Posso alterar os nomes dos jogadores?</h2>
      <p>Sim, é possível. Pressione o nome do jogador desejado e escreva o nome utilizando o teclado.</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/king_face.jpg">
      <h2>Posso alterar o limite de pontos de uma partida?</h2>
      <p>Pode sim. Pressione o botão com a chave inglesa. Na janela que surgir, à frente de "Limite de pontos de uma partida", escreva, com o seu teclado, o número de pontos desejado. Por defeito este valor é 21.</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/king_face.jpg">
      <h2>Que números são estes à direita?</h2>
      <p>Esse número é a soma dos pontos de todos os jogadores num jogo. No Casino, a soma dos pontos de um jogo tem de igualar 11 (ou mais) pontos.</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/king_face.jpg">
      <h2>Como </h2>
      <p>Cada coluna equivale a um jogador. Cada linha equivale a cada um dos jogos.</p>
    </a>

  </div>-->
  <div class="row">
    <div class="col">
      <p>Abaixo irá encontrar os tópicos de ajuda disponíveis. Para saír pressione o botão "Voltar".</p>
    </div>
  </div>

  <!-- Pergunta 1 -->
  <div class="list card">
    <div class="item item-avatar">
      <img src="img/king_face.jpg">
      <h2>Explicação geral</h2>
      <!--<p>Abaixo eé apresentada uma explicação da grelha do Casino.</p>-->
    </div>
    <div class="item item-body">
      <img class="full-image" src="img/king_how_to_1.jpg">
      <p>
        Na grelha do King, as colunas correspondem aos jogadores, e cada linha corresponde a um jogo.<br><br>Os pontos de cada jogador / jogo são apresentados nas respetivas células.<br><br>À direita, é apresentado o total dos pontos. Para inserir a pontuação, coloque na linha do jogo respetivo.
      </p>
    </div>
  </div>

  <!-- Pergunta 2 -->
  <div class="list card">
    <div class="item item-avatar">
      <img src="img/king_face.jpg">
      <h2>Colocar os pontos</h2>
      <!--<p>Pressione a célula do jogador / jogo correspondente.</p>-->
    </div>
    <div class="item item-body">
      <img class="full-image" src="img/king_how_to_2.jpg">
      <p>
        Os pontos são calculados automaticamente em função das Vazas, Copas, Damas, ou outros elementos inseridos. O utilizador tem apenas de inserir o número de vazas, Copas, Damas, Homens (ou outro tipo de elementos) recolhidos.<br><br>Pressione a linha do jogo respetivo e irá surgir a janela ilustrada acima.<br><br>Utilize os botões acima ou abaixo para aumentar ou diminuir o número de Vazas, respetivamente. Quando clicar em OK, voltará para a grelha principal onde serão mostrados os pontos de cada jogador.
      </p>
    </div>
  </div>

  <!-- Pergunta 5 -->
  <div class="list card">
    <div class="item item-avatar">
      <img src="img/king_face.jpg">
      <h2>Alterar nomes dos jogadores</h2>
      <!--<p>É sim. Veja abaixo como.</p>-->
    </div>
    <div class="item item-body">
      <img class="full-image" src="img/king_how_to_3.jpg">
      <p>
        Para alterar o nome de um jogador, pressione-o escreva o novo nome desejado utilizando o teclado do seu dispositivo.
      </p>
    </div>
  </div>

  <!-- Pergunta 7 -->
  <div class="list card">
    <div class="item item-avatar">
      <img src="img/king_face.jpg">
      <h2>Números à direita</h2>
      <!--<p>Serve para mostrar os pontos somados de cada jogador.</p>-->
    </div>
    <div class="item item-body">
      <img class="full-image" src="img/king_how_to_5.jpg">
      <p>
        Pode ter reparado que, à direita de cada jogo existe um número. Este serve para mostrar a soma dos pontos de todos os jogadores para um determinado jogo.<br><br>A soma dos pontos de todos os jogadores de um jogo deve ser igual a um determinado valor (que depende do tipo de jogo). Se for inferior a este valor, aparecerá a vermelho. Caso contrário, aparecerá a verde.<br><br>
        Os totais deverão ser:<br><br>
        - 260 pontos (Não fazer Vazas);<br>
        - 260 pontos (Não fazer Copas);<br>
        - 200 pontos (Não fazer Damas);<br>
        - 240 pontos (Não fazer Homens);<br>
        - 160 pontos (Não fazer Rei de Copas);<br>
        - 180 pontos (Não fazer as duas últimas vazas);<br>
        + 325 pontos (Festas).<br>
      </p>
    </div>
  </div>

  <!-- Pergunta 9 -->
  <div class="list card">
    <div class="item item-avatar">
      <img src="img/king_face.jpg">
      <h2>Reiniciar tudo</h2>
      <!--<p>Através do botão "Recomeçar".</p>-->
    </div>
    <div class="item item-body">
      <img class="full-image" src="img/king_how_to_6.jpg">
      <p>
        Pressione o botão "Recomeçar", que está abaixo da grelha.<br><br>Ao fazê-lo, irá surgir uma janela de confirmação - Caso aceitar recomeçar, todos os pontos são colocados a zero.
      </p>
    </div>
  </div>

  <!-- Pergunta 10 -->
  <div class="list card">
    <div class="item item-avatar">
      <img src="img/king_face.jpg">
      <h2>Pontuação do King</h2>
      <!--<p>É sim. Veja abaixo como.</p>-->
    </div>
    <div class="item item-body">
      <img class="full-image" src="img/king_how_to_4.jpg">
      <p>
        Existe uma lista de pontuação do King, útil para consultar caso não se lembre ou não saiba como calcular os pontos.<br><br>Pressione o botão com o ponto de interrogação, no canto superior direito.<br><br>Escolha a opção "Pontuação do King" para ver como se calculam os pontos neste jogo.
    </div>
  </div>
       
  <!-- Cancel button -->
  <!--<div class="row no-padding-element">
      <div class="col no-padding-element" style="padding: 5px;">
        <button class="button button-block button-assertive" ng-model="kingsheet.go_back_button" ng-click="closeKingModal(24)">
        Voltar
        </button>
      </div>
  </div>-->

  </ion-content>
  <ion-footer-bar>
        <button class="button button-block button-assertive" ng-model="kingsheet.go_back_button" ng-click="closeKingModal(24)" style="margin-top: 0px">
        Voltar
        </button>
  </ion-footer-bar>

</ion-modal-view>