<ion-view view-title="King" class="background">
  <ion-header-bar class="bar-subheader item-input-inset no-padding-element" style="text-align: center;">
  <div class="row no-padding-element">
    <div class="col col-20">&nbsp;</div>
    <div class="col no-padding-element">
      <div class="list list-inset no-padding-element">
        <input class="player_name_input" type="text" placeholder="Jog. 1" ng-model="kingsheet.p1_name">
      </div>
    </div>
    <div class="col no-padding-element">
      <div class="list list-inset no-padding-element">
        <input class="player_name_input" type="text" placeholder="Jog. 2" ng-model="kingsheet.p2_name">
      </div>
    </div>
    <div class="col no-padding-element">          
      <div class="list list-inset no-padding-element">
        <input class="player_name_input" type="text" placeholder="Jog. 3" ng-model="kingsheet.p3_name">
      </div>
    </div>
    <div class="col no-padding-element">
      <div class="list list-inset no-padding-element">
        <input class="player_name_input" type="text" placeholder="Jog. 4" ng-model="kingsheet.p4_name">
      </div>
    </div>
    <div class="col no-padding-element">
      <div class="list list-inset no-padding-element">
        <input type="text" class="subheader_input" value="Totais" disabled>
      </div>
    </div>
  </div>
  </ion-header-bar>
  <ion-content>

    <!--<h1>Pontuação</h1>-->
    <div ng-controller="kingCtrl">
    	<!-- Primeira linha: Jogadores -->
    	
    	<!-- Segunda linha: Não fazer vazas -->
    	<div class="row">
    		<div class="col col-20 no-padding-element">
              <input type="text" class="regular_text_input" value="Vazas" disabled>
        </div>
    		<div class="col no-padding-element">
          <div class="score_input_left" ng-model="kingsheet.p1_notricks" ng-bind="kingsheet.p1_notricks" ng-click="openKingModal(1)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
          <div class="score_input_middle" ng-model="kingsheet.p2_notricks" ng-bind="kingsheet.p2_notricks" ng-click="openKingModal(1)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
          <div class="score_input_middle" ng-model="kingsheet.p3_notricks" ng-bind="kingsheet.p3_notricks" ng-click="openKingModal(1)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
          <div class="score_input_right" ng-model="kingsheet.p4_notricks" ng-bind="kingsheet.p4_notricks" ng-click="openKingModal(1)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
      				<div class="no-padding-element" ng-model="kingsheet.notricks_total">
      					<!--{{ parseInt(kingsheet.p1_notricks) + parseInt(kingsheet.p2_notricks) + parseInt(kingsheet.p3_notricks) + parseInt(kingsheet.p4_notricks) }}-->
                <!--{{ calculateNoTricksTotal }}-->
                <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.notricks_total" style="{{changeNoTricksTotalColor()}}" disabled>
      				</div>
  				</div>
  			</div>
    	</div>
    	<!-- Terceira linha: Não fazer copas -->
    	<div class="row">
    		<div class="col col-20 no-padding-element">
            <input type="text" class="regular_text_input" value="Copas" disabled>
        </div>
    		<div class="col no-padding-element">
            <div class="score_input_left" ng-model="kingsheet.p1_hearts" ng-bind="kingsheet.p1_hearts" ng-click="openKingModal(2)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="score_input_middle" ng-model="kingsheet.p2_hearts" ng-bind="kingsheet.p2_hearts" ng-click="openKingModal(2)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="score_input_middle" ng-model="kingsheet.p3_hearts" ng-bind="kingsheet.p3_hearts" ng-click="openKingModal(2)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="score_input_right" ng-model="kingsheet.p4_hearts" ng-bind="kingsheet.p4_hearts" ng-click="openKingModal(2)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
      				<div class="no-padding-element">
      					<!--{{ kingsheet.p1_hearts + kingsheet.p2_hearts + kingsheet.p3_hearts + kingsheet.p4_hearts }}-->
                <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.hearts_total" style="{{changeHeartsTotalColor()}}" disabled>
      				</div>
  				</div>
  			</div>
    	</div>
    	<!-- Quarta linha: Não fazer damas -->
    	<div class="row">
    		<div class="col col-20 no-padding-element">
              <input type="text" class="regular_text_input" value="Damas" disabled>
        </div>
    		<div class="col no-padding-element">
    			<div class="score_input_left" ng-model="kingsheet.p1_dames" ng-bind="kingsheet.p1_dames" ng-click="openKingModal(3)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="score_input_middle" ng-model="kingsheet.p2_dames" ng-bind="kingsheet.p2_dames" ng-click="openKingModal(3)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="score_input_middle" ng-model="kingsheet.p3_dames" ng-bind="kingsheet.p3_dames" ng-click="openKingModal(3)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="score_input_right" ng-model="kingsheet.p4_dames" ng-bind="kingsheet.p4_dames" ng-click="openKingModal(3)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
      				<div class="no-padding-element">
      					<input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.dames_total" style="{{changeDamesTotalColor()}}" disabled>
      				</div>
  				</div>
  			</div>
    	</div>
    	<!-- Quinta linha: Não fazer Reis e Condes -->
    	<div class="row">
    		<div class="col col-20 no-padding-element">
              <input type="text" class="regular_text_input" value="Homens" disabled>
        </div>
    		<div class="col no-padding-element">
    			<div class="score_input_left" ng-model="kingsheet.p1_gents" ng-bind="kingsheet.p1_gents" ng-click="openKingModal(4)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="score_input_middle" ng-model="kingsheet.p2_gents" ng-bind="kingsheet.p2_gents" ng-click="openKingModal(4)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="score_input_middle" ng-model="kingsheet.p3_gents" ng-bind="kingsheet.p3_gents" ng-click="openKingModal(4)" ng-value="0">0</div>
        </div>
    		<div class="col no-padding-element">
    			<div class="score_input_right" ng-model="kingsheet.p4_gents" ng-bind="kingsheet.p4_gents" ng-click="openKingModal(4)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
      				<div class="no-padding-element">
      					<input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.gents_total" style="{{changeGentsTotalColor()}}" disabled>
      				</div>
  				</div>
  			</div>
    	</div>
    	<!-- Sexta linha: Não fazer King -->
    	<div class="row">
    		<div class="col col-20 no-padding-element">
              <input type="text" class="regular_text_input" value="King" disabled>
        </div>
    		<div class="col no-padding-element">
          <div class="score_input_left" ng-model="kingsheet.p1_king" ng-bind="kingsheet.p1_king" ng-click="openKingModal(5)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="score_input_middle" ng-model="kingsheet.p2_king" ng-bind="kingsheet.p2_king" ng-click="openKingModal(5)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="score_input_middle" ng-model="kingsheet.p3_king" ng-bind="kingsheet.p3_king" ng-click="openKingModal(5)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="score_input_right" ng-model="kingsheet.p4_king" ng-bind="kingsheet.p4_king" ng-click="openKingModal(5)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
      				<div class="no-padding-element">
      					<input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.king_total" style="{{changeKingTotalColor()}}" disabled>
      				</div>
  				</div>
  			</div>
    	</div>
    	<!-- Sétima linha: Não fazer 2 últimas -->
    	<div class="row">
    		<div class="col col-20 no-padding-element">
              <input type="text" class="regular_text_input" value="2 Últ." disabled>
        </div>
    		<div class="col no-padding-element">
          <div class="score_input_left" ng-model="kingsheet.p1_last_2" ng-bind="kingsheet.p1_last_2" ng-click="openKingModal(6)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="score_input_middle" ng-model="kingsheet.p2_last_2" ng-bind="kingsheet.p2_last_2" ng-click="openKingModal(6)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="score_input_middle" ng-model="kingsheet.p3_last_2" ng-bind="kingsheet.p3_last_2" ng-click="openKingModal(6)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="score_input_right" ng-model="kingsheet.p4_last_2" ng-bind="kingsheet.p4_last_2" ng-click="openKingModal(6)" ng-value="0">0</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
      				<div class="no-padding-element">
      					<input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.last_2_total" style="{{changeLast2TotalColor()}}" disabled>
      				</div>
  				</div>
  			</div>
    	</div>
    	<!-- Oitava linha: Totais de Negativos -->
    	<div class="row">
    		<div class="col col-20 no-padding-element">
              <input type="text" class="regular_text_input" value="Total" disabled>
        </div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
      				<div class=' no-padding-element'>
      					<input class="score_input" type="number" ng-value="0" placeholder="0" ng-model='kingsheet.p1_first_total' ng-value="kingsheet.p1_notricks + kingsheet.p1_hearts + kingsheet.p1_dames + kingsheet.p1_gents + kingsheet.p1_king + kingsheet.p1_last_2" disabled>
      				</div>
  				</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
      				<div class='no-padding-element'>
      					<input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p2_first_total" ng-value="kingsheet.p2_notricks + kingsheet.p2_hearts + kingsheet.p2_dames + kingsheet.p2_gents + kingsheet.p2_king + kingsheet.p2_last_2" disabled>
      				</div>
  				</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
      				<div class='no-padding-element'>
      					<input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p3_first_total" ng-value="kingsheet.p3_notricks + kingsheet.p3_hearts + kingsheet.p3_dames + kingsheet.p3_gents + kingsheet.p3_king + kingsheet.p3_last_2" disabled>
      				</div>
  				</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
      				<div class='no-padding-element'>
      					<input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p4_first_total" ng-value="kingsheet.p4_notricks + kingsheet.p4_hearts + kingsheet.p4_dames + kingsheet.p4_gents + kingsheet.p4_king + kingsheet.p4_last_2" disabled>
      				</div>
  				</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
      				<div class='no-padding-element'>
      					<input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.first_totals" ng-value="kingsheet.p2_first_total + kingsheet.p3_first_total + kingsheet.p4_first_total" style="{{changeLast2TotalColor()}}" disabled>
      				</div>
  				</div>
  			</div>
    	</div>
    	<!-- Publicidade -->
    	<!--<div class="row no-padding-element">
    		<div class="col col-100 col-center" style="text-align:center;">Publicidade</div>
    	</div>-->
    	<!-- Nona linha: Primeira Festa -->
    	<div class="row">
    		<!--<div class="col col-20 no-padding-element">Festa {{ kingsheet.p3_name }}</div>-->
        <div class="col col-20 no-padding-element">
          <input type="text" class="regular_text_input" value="Festa {{ kingsheet.p3_name }}" disabled>
        </div>
    		<div class="col no-padding-element">
          <div class="score_input_left" ng-model="kingsheet.p1_first_auction" ng-bind="kingsheet.p1_first_auction" ng-click="openKingModal(7)" ng-value="0">0</div>
        </div>
    		<div class="col no-padding-element">
          <div class="score_input_middle" ng-model="kingsheet.p2_first_auction" ng-bind="kingsheet.p2_first_auction" ng-click="openKingModal(7)" ng-value="0">0</div>
        </div>
    		<div class="col no-padding-element">
           <div class="score_input_middle" ng-model="kingsheet.p3_first_auction" ng-bind="kingsheet.p3_first_auction" ng-click="openKingModal(7)" ng-value="0">0</div>
        </div>
    		<div class="col no-padding-element">
          <div class="score_input_right" ng-model="kingsheet.p4_first_auction" ng-bind="kingsheet.p4_first_auction" ng-click="openKingModal(7)" ng-value="0">0</div>
        </div>
    		<div class="col no-padding-element">
          <div class="list list-inset no-padding-element">
              <div class="no-padding-element">
                <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.first_auction_total" style="{{changeFirstAuctionTotalColor()}}" disabled>
              </div>
          </div>
        </div>
    	</div>
    	<!-- Décima linha: Resultado parcial da primeira Festa -->
    	<div class="row">
    		<div class="col col-20 no-padding-element" style="text-align: center">
          <!--<label class="toggle toggle-king toggle-assertive">
             <input class="score_input_left" type="checkbox" ng-model="kingsheet.first_auction_toggle" ng-click="firstAuctionToggle()">
             <div class="track">
              <span style="font-size: 55%; color: white; font-weight: bold;">Neg.&nbsp;&nbsp;</span><span style="font-size: 55%; color: #2C4C2C; font-weight: bold;">Pos.</span><div class="handle"></div>
             </div>
          </label>-->
          <!--<ion-toggle class="no-padding-element" toggle-class="toggle-assertive" ng-model="kingsheet.first_auction_toggle" ng-change="firstAuctionToggle()">Neg.</ion-toggle>-->
        </div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
    					<input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p1_first_auction_total" disabled>
            </div>
  				</div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
              <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p2_first_auction_total" disabled>
            </div>
          </div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
              <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p3_first_auction_total" disabled>
            </div>
          </div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
              <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p4_first_auction_total" disabled>
            </div>
          </div>
  			</div>
    		<div class="col no-padding-element">
    			<input type="text" class="regular_text_input" value="Total" disabled>
  			</div>
    	</div>
    	<!-- Décima-primeira linha: Segunda Festa -->
    	<div class="row">
        <div class="col col-20 no-padding-element">
              <input type="text" class="regular_text_input" value="Festa {{ kingsheet.p4_name }}" disabled>
        </div>
        <div class="col no-padding-element">
          <div class="score_input_left" ng-model="kingsheet.p1_second_auction" ng-bind="kingsheet.p1_second_auction" ng-click="openKingModal(8)" ng-value="0">0</div>
        </div>
        <div class="col no-padding-element">
          <div class="score_input_middle" ng-model="kingsheet.p2_second_auction" ng-bind="kingsheet.p2_second_auction" ng-click="openKingModal(8)" ng-value="0">0</div>
        </div>
        <div class="col no-padding-element">
          <div class="score_input_middle" ng-model="kingsheet.p3_second_auction" ng-bind="kingsheet.p3_second_auction" ng-click="openKingModal(8)" ng-value="0">0</div>
        </div>
        <div class="col no-padding-element">
          <div class="score_input_right" ng-model="kingsheet.p4_second_auction" ng-bind="kingsheet.p4_second_auction" ng-click="openKingModal(8)" ng-value="0">0</div>
        </div>
        <div class="col no-padding-element">
          <div class="list list-inset no-padding-element">
              <div class="no-padding-element">
                <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.second_auction_total" style="{{changeSecondAuctionTotalColor()}}" disabled>
              </div>
          </div>
        </div>
      </div>
    	<!-- Décima-segunda linha: Resultado parcial da segunda Festa -->
    	<div class="row">
    		<div class="col col-20 no-padding-element" style="text-align: center">
          <!--<label class="toggle toggle-king toggle-assertive">
             <input class="score_input" type="checkbox" ng-model="kingsheet.second_auction_toggle" ng-click="secondAuctionToggle()">
             <div class="track">
              <span style="font-size: 55%; color: white; font-weight: bold;">Neg.&nbsp;&nbsp;</span><span style="font-size: 55%; color: #2C4C2C; font-weight: bold;">Pos.</span><div class="handle"></div>
             </div>
          </label>-->
        </div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
              <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p1_second_auction_total" disabled>
            </div>
          </div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
              <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p2_second_auction_total" disabled>
            </div>
          </div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
              <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p3_second_auction_total" disabled>
            </div>
          </div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
              <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p4_second_auction_total" disabled>
            </div>
          </div>
  			</div>
    		<div class="col no-padding-element">
          <input type="text" class="regular_text_input" value="Total" disabled>
        </div>
    	</div>
    	<!-- Décima-terceira linha: Terceira Festa -->
    	<div class="row">
        <div class="col col-20 no-padding-element">
              <input type="text" class="regular_text_input" value="Festa {{ kingsheet.p1_name }}" disabled>
        </div>
        <div class="col no-padding-element">
          <div class="score_input_left" ng-model="kingsheet.p1_third_auction" ng-bind="kingsheet.p1_third_auction" ng-click="openKingModal(9)" ng-value="0">0</div>
        </div>
        <div class="col no-padding-element">
          <div class="score_input_middle" ng-model="kingsheet.p2_third_auction" ng-bind="kingsheet.p2_third_auction" ng-click="openKingModal(9)" ng-value="0">0</div>
        </div>
        <div class="col no-padding-element">
          <div class="score_input_middle" ng-model="kingsheet.p3_third_auction" ng-bind="kingsheet.p3_third_auction" ng-click="openKingModal(9)" ng-value="0">0</div>
        </div>
        <div class="col no-padding-element">
          <div class="score_input_right" ng-model="kingsheet.p4_third_auction" ng-bind="kingsheet.p4_third_auction" ng-click="openKingModal(9)" ng-value="0">0</div>
        </div>
        <div class="col no-padding-element">
          <div class="list list-inset no-padding-element">
              <div class="no-padding-element">
                <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.third_auction_total" style="{{changeThirdAuctionTotalColor()}}" disabled>
              </div>
          </div>
        </div>
      </div>
    	<!-- Décima-quarta linha: Resultado parcial da terceira Festa -->
    	<div class="row">
    		<div class="col col-20 no-padding-element" style="text-align: center">
          <!--<label class="toggle toggle-king toggle-assertive">
             <input class="score_input" type="checkbox" ng-model="kingsheet.third_auction_toggle" ng-click="thirdAuctionToggle()">
             <div class="track">
              <span style="font-size: 55%; color: white; font-weight: bold;">Neg.&nbsp;&nbsp;</span><span style="font-size: 55%; color: #2C4C2C; font-weight: bold;">Pos.</span><div class="handle"></div>
             </div>
          </label>-->
        </div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
              <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p1_third_auction_total" disabled>
            </div>
          </div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
              <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p2_third_auction_total" disabled>
            </div>
          </div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
              <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p3_third_auction_total" disabled>
            </div>
          </div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
              <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p4_third_auction_total" disabled>
            </div>
          </div>
  			</div>
    		<div class="col no-padding-element">
          <input type="text" class="regular_text_input" value="Total" disabled>
        </div>
    	</div>
    	<!-- Décima-quinta linha: Quarta Festa -->
    	<div class="row">
        <div class="col col-20 no-padding-element">
              <input type="text" class="regular_text_input" value="Festa {{ kingsheet.p2_name }}" disabled>
        </div>
        <div class="col no-padding-element">
          <div class="score_input_left" ng-model="kingsheet.p1_fourth_auction" ng-bind="kingsheet.p1_fourth_auction" ng-click="openKingModal(10)" ng-value="0">0</div>
        </div>
        <div class="col no-padding-element">
          <div class="score_input_middle" ng-model="kingsheet.p2_fourth_auction" ng-bind="kingsheet.p2_fourth_auction" ng-click="openKingModal(10)" ng-value="0">0</div>
        </div>
        <div class="col no-padding-element">
          <div class="score_input_middle" ng-model="kingsheet.p3_fourth_auction" ng-bind="kingsheet.p3_fourth_auction" ng-click="openKingModal(10)" ng-value="0">0</div>
        </div>
        <div class="col no-padding-element">
          <div class="score_input_right" ng-model="kingsheet.p1_fourth_auction" ng-bind="kingsheet.p1_fourth_auction" ng-click="openKingModal(10)" ng-value="0">0</div>
        </div>
        <div class="col no-padding-element">
          <div class="list list-inset no-padding-element">
              <div class="no-padding-element">
                <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.fourth_auction_total" style="{{changeFourthAuctionTotalColor()}}" disabled>
              </div>
          </div>
        </div>
      </div>
    	<!-- Décima-sexta linha: Resultado parcial da quarta Festa -->
    	<div class="row">
    		<div class="col col-20 no-padding-element" style="text-align: center">
          <!--<label class="toggle toggle-king toggle-assertive">
             <input class="score_input" type="checkbox" ng-model="kingsheet.fourth_auction_toggle" ng-click="fourthAuctionToggle()">
             <div class="track">
              <span style="font-size: 55%; color: white; font-weight: bold;">Neg.&nbsp;&nbsp;</span><span style="font-size: 55%; color: #2C4C2C; font-weight: bold;">Pos.</span><div class="handle"></div>
             </div>
          </label>-->
        </div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
              <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p1_fourth_auction_total" disabled>
            </div>
          </div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
              <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p2_fourth_auction_total" disabled>
            </div>
          </div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
              <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p3_fourth_auction_total" disabled>
            </div>
          </div>
  			</div>
    		<div class="col no-padding-element">
    			<div class="list list-inset no-padding-element">
            <div class='no-padding-element'>
              <input class="score_input" type="number" ng-value="0" placeholder="0" ng-model="kingsheet.p4_fourth_auction_total" disabled>
            </div>
          </div>
  			</div>
    		<div class="col no-padding-element">
          <input type="text" class="regular_text_input" value="Final" disabled>
        </div>
    	</div>
    	<!-- Publicidade -->
    	<!--<div class="row">
    		<div class="col col-100 col-center" style="text-align:center;">Publicidade</div>
    	</div>-->
      <!-- Botão de Reset -->
      <button class="button button-block button-assertive" ng-model="kingsheet.reset_button" ng-click="openKingModal(12)">
        Recomeçar
      </button>
    </div>
  </ion-content>
</ion-view>
