 <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Confirmar</h1>
    </ion-header-bar>
    <ion-content ng-controller="suecaCtrl">
      <!-- OK button -->
      <div class="row no-padding-element">
        <div class="col">
          <p class="centered_paragraph_black">Apagar as vitórias de {{suecasheet.modal_player_name}}?</p>
        </div>
      </div>
      <div class="row no-padding-element">
        <div class="col">
        <!-- Botão de Reset -->
          <button class="button button-block button-balanced" ng-model="suecasheet.delete_score_button" ng-click="evaluateSuecaPoints(0);closeSuecaAndShowAd(47);">
            OK
          </button>
        </div>
        <div class="col">
        <!-- Botão de Reset -->
          <button class="button button-block button-assertive" ng-model="suecasheet.back_button" ng-click="closeSuecaModal(47);">
            Cancelar
          </button>
        </div>
       
      </div>
        

  </ion-content>
</ion-modal-view>