<ion-view view-title="Brevemente disponível!" class="background-cover" >
  <ion-content class="center full-content" style="text-align:center;" ng-controller="AppCtrl">
  	  <h1 class="csc_header">Brevemente disponível!</h1>
  	  <br>
      <img ng-src="img/under_construction_small.png">
	  <!--<div class="cover_banner">
	  	Card<br><br>ScoreCard<br>
	  </div>-->
	  <br>
	  <p>Esta funcionalidade não está disponível ainda.</p>
	  <p>Esteja atento!</p>
	  <p>2015 <a href="http://www.levelup-fx.pt" class="levelup-link">LevelUp™</a></p>
  </ion-content>

</div>
</ion-view>
